-- CreateTable
CREATE TABLE `adminactionapproval` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `actionType` VARCHAR(191) NOT NULL,
    `entityId` INTEGER NOT NULL,
    `initiatedBy` INTEGER NOT NULL,
    `status` VARCHAR(191) NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `action_entity_status_idx`(`actionType` ASC, `entityId` ASC, `status` ASC),
    PRIMARY KEY (`id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `event` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NOT NULL,
    `eventType` ENUM('USER', 'GUILD') NOT NULL DEFAULT 'USER',
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `categoryType` ENUM('Nectar', 'Pollen') NOT NULL DEFAULT 'Nectar',

    PRIMARY KEY (`id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `guildmembers` (
    `guild_member_id` INTEGER NOT NULL AUTO_INCREMENT,
    `guild_id` INTEGER NOT NULL,
    `user_id` INTEGER NOT NULL,
    `joined_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `is_active` BOOLEAN NOT NULL DEFAULT false,

    UNIQUE INDEX `GuildMembers_guild_id_user_id_key`(`guild_id` ASC, `user_id` ASC),
    INDEX `GuildMembers_user_id_fkey`(`user_id` ASC),
    PRIMARY KEY (`guild_member_id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `guildmembershipactions` (
    `action_id` INTEGER NOT NULL AUTO_INCREMENT,
    `guild_id` INTEGER NOT NULL,
    `user_id` INTEGER NOT NULL,
    `action_type` ENUM('REQUEST_TO_JOIN', 'INVITATION') NOT NULL,
    `status` ENUM('PENDING', 'ACCEPTED', 'REJECTED') NOT NULL,
    `initiated_by_id` INTEGER NOT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `GuildMembershipActions_initiated_by_id_fkey`(`initiated_by_id` ASC),
    INDEX `GuildMembershipActions_user_id_fkey`(`user_id` ASC),
    INDEX `guild_user_action_status_idx`(`guild_id` ASC, `user_id` ASC, `action_type` ASC, `status` ASC),
    PRIMARY KEY (`action_id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `guildownershiptransfers` (
    `transfer_id` INTEGER NOT NULL AUTO_INCREMENT,
    `guild_id` INTEGER NOT NULL,
    `old_owner_id` INTEGER NOT NULL,
    `new_owner_id` INTEGER NOT NULL,
    `status` ENUM('PENDING', 'ACCEPTED', 'REJECTED') NOT NULL DEFAULT 'PENDING',
    `requested_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `responded_at` DATETIME(3) NULL,

    INDEX `GuildOwnershipTransfers_guild_id_fkey`(`guild_id` ASC),
    INDEX `GuildOwnershipTransfers_new_owner_id_fkey`(`new_owner_id` ASC),
    INDEX `GuildOwnershipTransfers_old_owner_id_fkey`(`old_owner_id` ASC),
    PRIMARY KEY (`transfer_id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `guilds` (
    `guild_id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NULL,
    `telegram` VARCHAR(191) NULL,
    `twitter` VARCHAR(191) NULL,
    `discord` VARCHAR(191) NULL,
    `website` VARCHAR(191) NULL,
    `picture` VARCHAR(191) NULL,
    `owner_user_id` INTEGER NOT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `Guilds_name_key`(`name` ASC),
    INDEX `Guilds_owner_user_id_fkey`(`owner_user_id` ASC),
    PRIMARY KEY (`guild_id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `guildtaskparticipation` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `guildId` INTEGER NOT NULL,
    `taskId` INTEGER NOT NULL,
    `completed` BOOLEAN NOT NULL DEFAULT false,
    `pointsAwarded` INTEGER NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `GuildTaskParticipation_guildId_taskId_key`(`guildId` ASC, `taskId` ASC),
    INDEX `GuildTaskParticipation_taskId_fkey`(`taskId` ASC),
    PRIMARY KEY (`id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `notifications` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `userId` INTEGER NOT NULL,
    `message` VARCHAR(191) NOT NULL,
    `type` VARCHAR(191) NOT NULL,
    `isRead` BOOLEAN NOT NULL DEFAULT false,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `notifications_userId_fkey`(`userId` ASC),
    PRIMARY KEY (`id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `task` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `eventId` INTEGER NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `description` VARCHAR(191) NOT NULL,
    `points` INTEGER NOT NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `Task_eventId_fkey`(`eventId` ASC),
    PRIMARY KEY (`id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `tradingrounds` (
    `round_id` INTEGER NOT NULL AUTO_INCREMENT,
    `start_time` DATETIME(3) NOT NULL,
    `end_time` DATETIME(3) NOT NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`round_id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `users` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `wallet_address` VARCHAR(191) NOT NULL,
    `ensName` VARCHAR(191) NULL,
    `signature` VARCHAR(191) NULL,
    `bio` VARCHAR(191) NULL,
    `telegram` VARCHAR(191) NULL,
    `twitter` VARCHAR(191) NULL,
    `discord` VARCHAR(191) NULL,
    `github` VARCHAR(191) NULL,
    `website` VARCHAR(191) NULL,
    `pfp` VARCHAR(191) NULL,
    `is_suspended` BOOLEAN NOT NULL DEFAULT false,
    `role` VARCHAR(191) NOT NULL DEFAULT 'user',
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `Users_ensName_key`(`ensName` ASC),
    UNIQUE INDEX `Users_wallet_address_key`(`wallet_address` ASC),
    PRIMARY KEY (`id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `usertaskparticipation` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `userId` INTEGER NOT NULL,
    `taskId` INTEGER NOT NULL,
    `completed` BOOLEAN NOT NULL DEFAULT false,
    `pointsAwarded` INTEGER NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `UserTaskParticipation_taskId_fkey`(`taskId` ASC),
    UNIQUE INDEX `UserTaskParticipation_userId_taskId_key`(`userId` ASC, `taskId` ASC),
    PRIMARY KEY (`id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `usertradingactivity` (
    `activity_id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `round_id` INTEGER NOT NULL,
    `volume` DOUBLE NOT NULL,
    `pnl` DOUBLE NOT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `points` INTEGER NOT NULL,
    `collateralPriceUsd` DOUBLE NOT NULL,
    `leverage` DOUBLE NOT NULL,
    `pair` VARCHAR(191) NOT NULL,
    `timestamp` DATETIME(3) NOT NULL,
    `type` VARCHAR(191) NOT NULL,
    `tradeID` VARCHAR(191) NOT NULL,

    INDEX `UserTradingActivity_round_id_fkey`(`round_id` ASC),
    UNIQUE INDEX `UserTradingActivity_tradeID_key`(`tradeID` ASC),
    INDEX `UserTradingActivity_user_id_fkey`(`user_id` ASC),
    PRIMARY KEY (`activity_id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `userwins` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` INTEGER NOT NULL,
    `round_id` INTEGER NOT NULL,
    `wins` INTEGER NOT NULL,
    `tradeCount` INTEGER NOT NULL,
    `pnl` DOUBLE NOT NULL,
    `volume` DOUBLE NOT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `UserWins_round_id_fkey`(`round_id` ASC),
    UNIQUE INDEX `UserWins_user_id_round_id_key`(`user_id` ASC, `round_id` ASC),
    INDEX `user_round_idx`(`user_id` ASC, `round_id` ASC),
    PRIMARY KEY (`id` ASC)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `guildmembers` ADD CONSTRAINT `GuildMembers_guild_id_fkey` FOREIGN KEY (`guild_id`) REFERENCES `guilds`(`guild_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `guildmembers` ADD CONSTRAINT `GuildMembers_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `guildmembershipactions` ADD CONSTRAINT `GuildMembershipActions_guild_id_fkey` FOREIGN KEY (`guild_id`) REFERENCES `guilds`(`guild_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `guildmembershipactions` ADD CONSTRAINT `GuildMembershipActions_initiated_by_id_fkey` FOREIGN KEY (`initiated_by_id`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `guildmembershipactions` ADD CONSTRAINT `GuildMembershipActions_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `guildownershiptransfers` ADD CONSTRAINT `GuildOwnershipTransfers_guild_id_fkey` FOREIGN KEY (`guild_id`) REFERENCES `guilds`(`guild_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `guildownershiptransfers` ADD CONSTRAINT `GuildOwnershipTransfers_new_owner_id_fkey` FOREIGN KEY (`new_owner_id`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `guildownershiptransfers` ADD CONSTRAINT `GuildOwnershipTransfers_old_owner_id_fkey` FOREIGN KEY (`old_owner_id`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `guilds` ADD CONSTRAINT `Guilds_owner_user_id_fkey` FOREIGN KEY (`owner_user_id`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `guildtaskparticipation` ADD CONSTRAINT `GuildTaskParticipation_guildId_fkey` FOREIGN KEY (`guildId`) REFERENCES `guilds`(`guild_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `guildtaskparticipation` ADD CONSTRAINT `GuildTaskParticipation_taskId_fkey` FOREIGN KEY (`taskId`) REFERENCES `task`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `notifications` ADD CONSTRAINT `notifications_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `task` ADD CONSTRAINT `Task_eventId_fkey` FOREIGN KEY (`eventId`) REFERENCES `event`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `usertaskparticipation` ADD CONSTRAINT `UserTaskParticipation_taskId_fkey` FOREIGN KEY (`taskId`) REFERENCES `task`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `usertaskparticipation` ADD CONSTRAINT `UserTaskParticipation_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `usertradingactivity` ADD CONSTRAINT `UserTradingActivity_round_id_fkey` FOREIGN KEY (`round_id`) REFERENCES `tradingrounds`(`round_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `usertradingactivity` ADD CONSTRAINT `UserTradingActivity_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `userwins` ADD CONSTRAINT `UserWins_round_id_fkey` FOREIGN KEY (`round_id`) REFERENCES `tradingrounds`(`round_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `userwins` ADD CONSTRAINT `UserWins_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

